<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1">
               <li class="nav-item">
                  <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
                  </li>
            </ul>
      </div>
  </div>
</nav>



<div class="text-center">
  <h1 class="display-4" style="color:blue">Welcome</h1>

  <h2>Employee Management System</h2>
</div>
