<div class="row">
  <div class="col-md-12">
      <form #form="ngForm" method="post">
        <div class="form-group">
          <label >Email</label>
          <input type="text" class="form-control" name="Email" [(ngModel)]="resetPassword.Email" />

      </div>

          <div class="form-group">
              <label >New Password</label>
              <input type="password" class="form-control" name="Password" [(ngModel)]="resetPassword.Password" />

          </div>

          <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" name="ConfirmPassword" [(ngModel)]="resetPassword.ConfirmPassword" />

          </div>

          <div class="alert alert-danger"
          *ngIf="form.value.ConfirmPassword != form.value.Password && form.controls.ConfirmPassword.touched">
          Password And Confirm Password Do Not Match</div>

          <button type="submit" class="btn btn-primary" [disabled]="((form.value.ConfirmPassword != form.value.Password) || (form.invalid))"
           (click)="ResetPassword(resetPassword)">Reset-Password</button>
      </form>
  </div>

</div>
