@using EmployeeDetails.Models


@{
    ViewData["Title"] = "Welcome Page";
}

    <div class="text-center">
        <h1 class="display-4" style="color:blue">Welcome</h1>
        <div class="text-center">
            <a href="~/CRUD/Details" class="btn btn-primary text-center"> EMPLOYEE</a>
            <a href="~/Department/Details" class="btn btn-primary text-center"> DEPARTMENT</a>

        </div>
        <div class="text-right align-text-top">

            <a href="~/Account/ChangePassword">Change Password</a>

        </div>

        <div id="articleList"></div>
    </div>




