<nav class="navbar navbar-expand navbar-light bg-light">

  <ul class="navbar-nav">
    <li style="float:right" class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/employee',employeeEmail]">Profile</a>
    </li>
  </ul>

</nav>

<div class="text-center">
  <h1 class="display-4" style="color:blue">Employee & Department Access</h1>

  <button class="btn btn-primary" [routerLink]="['/department']">Department</button><br><br>
  <button class="btn btn-primary" [routerLink]="['/employee']">Employee</button>
</div>
