<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1">
               <li class="nav-item">
                  <a href="#" class="nav-link text-dark" (onclick)="logout()">Logout</a>
                  </li>
                  <li style="float:right" class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/employeeprofile',employeeEmail]">Profile</a>
                  </li>
            </ul>
      </div>
  </div>
</nav>

<!--<nav class="navbar navbar-expand navbar-light bg-light">

  <ul class="navbar-nav">
    <li style="float:right" class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/employeeprofile',employeeEmail]">Profile</a>
    </li>
  </ul>

</nav>-->

<div class="text-center">
  <h1 class="display-4" style="color:blue">Employee & Department Access</h1>

  <button class="btn btn-primary" [routerLink]="['/department',employeeEmail]">Department</button><br><br>
  <button class="btn btn-primary" [routerLink]="['/employee',employeeEmail]">Employee</button>
</div>
