@model EmployeeDetails.Models.Department

@{
    ViewData["Title"] = "Add Department";
}

<h2>ADD NEW DEPARTMENT</h2>
<div>
    @using (Html.BeginForm("Create", "Department", FormMethod.Post))
    {
        <div>
            <form asp-action="Create">
                <label asp-for="DepartName">Name</label>
                <input asp-for="DepartName" type="text" name="DepartName" placeholder="Department Name" /><br /><br />


                <button type="submit" value="submit">Add Department</button>
            </form>
        </div>
    }

</div>

